<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h2>Products</h2>
      <div *ngIf="category">
        <h3>Category: {{category}}</h3>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let item of productsArr; let num = index" >
        <h4 mat-line>Title : {{item.Title}}</h4>
        <p mat-line>Category : {{item.Category}} </p>
        <p mat-line>Aution End Date : {{item.AutionEndDate}} {{item.AutionEndTime}} </p>
        <p mat-line>Location : {{item.Location}} </p>
        <p mat-line>BidStartingAmount : {{item.BidStartingAmount}} </p>

        <span class="example-spacer"></span>
        <button mat-button mat-raised-button color="primary" [routerLink]="['/ProductsDetail', item.key]" >View</button>
        <button mat-button mat-raised-button color="warn" *ngIf="canDelete(item)" (click)="delete(item.key)" >Delete</button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
