
<mat-card class="example-card" >
  <mat-card-content>
    <h2>{{productDetail?.Title}} <span *ngIf="Status" >- {{productDetail?.Status}}</span></h2>
    <p *ngIf="productDetail?.File">
      <img src="{{productDetail?.File}}" style="width: 50%" />
    </p>
    <p>
      Description : {{productDetail?.Description}}
    </p>
    <p>
      Location : {{productDetail?.Location}}
    </p>
    <p >
      Aution Ends : {{productDetail?.AutionEndDate}} {{productDetail?.AutionEndTime}}
    </p>

    <p>Category : {{productDetail?.Category}} </p>
    <p>BidStartingAmount : {{productDetail?.BidStartingAmount}} </p>

  </mat-card-content>
</mat-card>

<mat-card class="example-card" *ngIf="productDetail?.Status === 'Awarded'" >
  <mat-card-content>
    <h2>
      Awarded To {{productDetail?.AuctionAwardedToFirstName}} {{productDetail?.AuctionAwardedToLastName}}
      <span class="bidAmount">{{productDetail?.AuctionAwardedToAmount}}</span>
    </h2>
  </mat-card-content>
</mat-card>

<mat-card class="example-card" *ngIf="productDetail?.Status === 'Cancelled'" >
  <mat-card-content>
    <h2>
      Cancelled due to no bid
    </h2>
  </mat-card-content>
</mat-card>

<mat-card class="example-card" *ngIf="highestBid">
    <mat-card-content>
      <h2>Bids<span class="bidAmount">Highest Bid : {{highestBid.Bid}}</span></h2>
      <p>
        Highest Bid Placed : {{highestBid.DateTime && displayableDate(highestBid.DateTime) || "--"}}
      </p>
      <p>
        Your Bid: {{userBid.Bid}}
      </p>
      <p *ngIf="userBid===highestBid">You are currently the highest bidder! Bidding is disabled</p>
    </mat-card-content>
  </mat-card>

<div *ngIf="productDetail?.uid === user?.uid">
  <mat-card class="example-card"  >
    <h2>Bid History</h2>
    <mat-card-content *ngFor="let auc of auctionsDetail">
      <h2>{{auc.FirstName}}<span class="bidAmount">Bid : {{auc.Bid}}</span></h2>
      <p>
        Bid Placed : {{auc.DateTime && displayableDate(auc.DateTime) || "--"}}
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="productDetail?.uid !== user?.uid">
  <div *ngIf="userBid !== highestBid">
    <mat-card class="example-card" *ngIf="auctionNotCompleted" >
      <mat-card-content>
        <h2>Quick Bids</h2>
          <button mat-button mat-raised-button color="primary" type="button" (click)="raiseBid(10)">Raise 10</button>
          <button mat-button mat-raised-button color="primary" type="button" (click)="raiseBid(50)">Raise 50</button>
          <button mat-button mat-raised-button color="primary" type="button" (click)="raiseBid(100)">Raise 100</button>
          <button mat-button mat-raised-button color="primary" type="button" (click)="raiseBid(500)">Raise 500</button>
          <button mat-button mat-raised-button color="primary" type="button" (click)="raiseBid(1000)">Raise 1000</button>
          <button mat-button mat-raised-button color="primary" type="button" (click)="raiseBid(5000)">Raise 5000</button>
          <button mat-button mat-raised-button color="primary" type="button" (click)="raiseBid(10000)">Raise 10000</button>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card" *ngIf="auctionNotCompleted" >
      <p *ngIf="ErrorMessage" class="error-message">{{ErrorMessage}}</p>
      <mat-card-content>
        <h2>Custom Bid</h2>
        <mat-input-container class="chatTextCont" *ngIf="!isFileUploading">
          <input matInput placeholder="Enter Bid Amount" type="number" [(ngModel)]="bidAmount" >
        </mat-input-container>
        <span class="example-spacer"></span>
        <div class="chatButtonsCont">
          <button mat-button mat-raised-button color="primary" type="button" (click)="submitBid()">Submit Bid</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>